@versionFormat Year.Month.Day.TodayNumberOfCommits
@CIusername PolishRoboDog
@CIemail 35114429+PolishRoboDog@users.noreply.github.com
@messagesLang pl_PL
@timeLang pl_PL
@tz Poland
@updateListIfAnotherListUpdated adblock_social_filters/adblock_social_list.txt adblock_social_filters/social_filters_uB_AG.txt
@updateListIfAnotherListUpdated cookies_filters/adblock_cookies.txt cookies_filters/cookies_uB_AG.txt
