version: 2
jobs:
  build:
    docker:
    - image: polishfiltersteam/sflb_image:3.0.15
    steps:
    - checkout
    - run: ./scripts/build.py
workflows:
  version: 2
  workflow:
    triggers:
    - schedule:
        cron: 30 12,16,20,00 * * *
        filters:
          branches:
            only:
            - master
    jobs:
      - build:
          context: org-global
