[Adblock Plus 2.0]
! Title: 🇵🇱 Polskie Filtry RODO-Ciasteczkowe DEV
! Polish GDPR-Cookies Filters DEV
! Codename: 🍪
! Description: Filtry ukrywające i blokujące komunikaty dot. ciasteczek i polityki prywatności/RODO.
! Required: Do poprawnego działania wymagana jest lista EasyList Cookie List (EasyList - Cookie Notices) wraz z EasyList lub AdGuard Base (w produktach AdGuard)!
! Collaborators: MajkiIT, F4z, xxcriticxx, blocker999, hawkeye116477, krystian3w
! Homepage: https://www.certyficate.it/
! Version: @version
! Last modified: @modified
! Expires: 2 days
! Support:
!   Email => errorsfilters@certyficate.it
!   GitHub => https://github.com/MajkiIT/polish-ads-filter/issues
! Redundant Checker => https://www.certyficate.it/redundant_checker/redundantRuleChecker.html
! Opcjonalne rozszerzenie uzupełniające „Polska Ciasteczkowa Zgoda" => https://github.com/FiltersHeroes/PolishCookieConsent#jak-zainstalowa%C4%87
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0)
! Copyright © 2023 Certyficate IT
! Copyright © 2023 Filters Heroes
! Najnowsza wersja zawsze na: https://www.certyficate.it/adblock/
! v.@version aktualizacja: @localizedDT
!
!
! Specyficzne reguły ukrywające
@include specyficzne_ukrywajace
!
!
! Specyficzne reguły blokujące
@include specyficzne_blokujace + specyficzne_blokujace_neutralizujace
!
!
!
! Ogólne reguły blokujące
@include ogolne_blokujace
!
!
! Ogólne reguły ukrywające
@include ogolne_ukrywajace
!
!
! Blokowanie elementów po zastosowaniu generichide
@include generichide
!
!
! Bugi Prebake
gg.pl#@#body > div:nth-of-type(2) > div
!
!
! Bugi IDCAC
@include bugi_IDCAC_sieciowe
@include bugi_IDCAC
!
!
! Bugi ELC
@include bugi_ELC_sieciowe
@include bugi_ELC
!
!
! Wyjątki
@include wyjatki_ukrywajace
@include wyjatki_blokujace
!
!
! Dołączenie listy uzupełniającej do uBlocka Origin i AdGuarda, by użytkownicy nie musieli jej subskrybować
!#if (!adguard_ext_android_cb && !adguard_app_ios)
!#include cookies_uB_AG.txt
!#endif
