[Adblock Plus 2.0]
! Title: Polskie Filtry Społecznościowe DEV
! Polish Social Filters DEV
! Codename: 👍
! Description: Filtry ukrywające i blokujące elementy sieci społecznościowych, tj. widgety, wyskakujące okienka i inne elementy społecznościowe.
! Required: Do poprawnego działania wymagana jest lista Fanboy's Social Blocking List!
! Collaborators: MajkiIT, blocker999, hawkeye116477, xxcriticxx, KonoromiHimaries, RikoDEV, krystian3w
! Homepage: https://www.certyficate.it/
! Version: @version
! Last modified: @modified
! Expires: 2 days
! Support:
!   GitHub => https://github.com/MajkiIT/polish-ads-filter/issues
!   Discord => https://discord.me/polskiefiltry
! Redundant Checker => https://www.certyficate.it/redundant_checker/redundantRuleChecker.html
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0)
! Copyright © 2020 Certyficate IT & Polish Filters Team
! Najnowsza wersja zawsze na: https://www.certyficate.it/adblock/
! v.@version aktualizacja: @aktualizacja
!
!
! Popupy
@include popupy
!
!
! Popupy - ogólne reguły
@include popupy_ogolne
!
!
! Ogólne reguły blokujące
@include ogolne_blokujace
!
!
! Ogólne reguły ukrywające
@include ogolne_ukrywajace
!
!
! Specyficzne reguły ukrywające
@include specyficzne_ukrywajace
!
!
! Specyficzne reguły blokujące
@include specyficzne_blokujace
!
!
! Blokowanie elementów po zastosowaniu generichide
@include generichide
!
!
! Bugi Fanboy's Social Blocking List
@include bugi_Fanboy
!
!
! Wyjątki
@include wyjatki
!
!
! Dołączenie listy uzupełniającej do uBlocka Origin i AdGuarda, by użytkownicy nie musieli jej subskrybować
!#if (!adguard_ext_android_cb && !adguard_ext_safari && !adguard_app_ios)
!#include social_filters_uB_AG.txt
!#endif
