[Adblock Plus 2.0]
! Title: 🇵🇱 Polskie Filtry Społecznościowe DEV
! Polish Social Filters DEV
! Codename: 👍🏻
! Description: Filtry ukrywające i blokujące elementy sieci społecznościowych, tj. widgety, wyskakujące okienka i inne elementy społecznościowe.
! Required: Do poprawnego działania wymagana jest lista Fanboy's Social Blocking List i EasyList/AdGuard Base!
! Collaborators: MajkiIT, blocker999, hawkeye116477, xxcriticxx, KonoromiHimaries, RikoDEV, krystian3w
! Homepage: https://www.certyficate.it/
! Version: @version
! Last modified: @modified
! Expires: 2 days
! Support:
!   Email => errorsfilters@certyficate.it
!   GitHub => https://github.com/MajkiIT/polish-ads-filter/issues
!   Development => https://github.com/FiltersHeroes/PolishSocialCookiesFiltersDev
! Redundant Checker => https://www.certyficate.it/redundant_checker/redundantRuleChecker.html
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0)
! Copyright © 2024 Certyficate IT
! Copyright © 2024 Filters Heroes
! Najnowsza wersja zawsze na: https://www.certyficate.it/adblock/
! v.@version aktualizacja: @localizedDT
!
!
!#safari_cb_affinity(social)
! Popupy - ogólne filtry
@include popupy_ogolne_blokujace
@include popupy_ogolne
!
! Popupy
@include popupy_blokujace
@include popupy
!
!
! Ogólne filtry blokujące
@include ogolne_blokujace
!
!
! Ogólne filtry ukrywające
@include ogolne_ukrywajace
!
!
! Specyficzne filtry ukrywające
@include specyficzne_ukrywajace + widgety_kontaktowe
!
!
! Specyficzne filtry blokujące
@include specyficzne_blokujace + widgety_kontaktowe_sieciowe
!
!
! Ukrywanie elementów po zastosowaniu generichide
@include generichide
!
!
! Specyficzne filtry usuwające ABP
!#if ext_abp
@include specyficzne_ABP
!#endif
!
!
! Bugi Fanboy's Social Blocking List
@include bugi_Fanboy_blokujace
@include bugi_Fanboy
!
!
! Wyjątki
@include wyjatki_ukrywajace
@include wyjatki_blokujace
!#safari_cb_affinity
!
!
! Dołączenie listy uzupełniającej do uBlocka Origin i AdGuarda, by użytkownicy nie musieli jej subskrybować
!#if (!adguard_ext_android_cb && !adguard_app_ios)
!#include social_filters_uB_AG.txt
!#endif
