! Codename: 🍪 - Supplement
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0)
! Copyright © 2019 Certyficate IT & Polish Filters Team
!
!
@path sections/adblock_cookies/uBO_AG
! Komunikaty dot. 🍪, polityki prywatności/RODO i 🥛 🙂
@include komunikaty_suplement
!
!
! Komunikaty dot. 🍪, polityki prywatności/RODO i 🥛 🙂 - specjalne instrukcje
!#if !cap_html_filtering
@include komunikaty_bez_html
!#if ext_ublock
@include komunikaty_bez_html_uBO
!#endif
!#endif
!#if cap_html_filtering
@include komunikaty_html
!#endif
!#if !cap_user_stylesheet
@include komunikaty_bez_styli_uzytkownika
!#endif
!#if cap_user_stylesheet
@include komunikaty_style_uzytkownika
!#endif
!#if !env_mobile
@include komunikaty_niemobilne
!#endif
!#if !ext_ublock
@include komunikaty_AdGuard
!#endif
