! Checksum: @
! Title: Polskie Filtry RODO-Ciasteczkowe - uzupełnienie do uBlocka i AdGuarda
! Polish GDPR-Cookies Filters - Supplement for uBlock & AdGuard
! Codename: Cookies - supplement
! Collaborators: MajkiIT, F4z, hawkeye116477
! Homepage: https://www.certyficate.it/
! Version: @wersja
! Last modified: @modified
! Expires: 2 days
! Support:
!   Email => errors@certyficate.it
!   GitHub => https://github.com/MajkiIT/polish-ads-filter/issues
!   Discord => https://discord.me/polskiefiltry
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0)
! Copyright © 2018 Certyficate IT & Polish Filters Team
! Najnowsza wersja zawsze na: https://www.certyficate.it/adblock/
! v.@wersja aktualizacja: @aktualizacja
!
!
! Komunikaty dot. 🍪, polityki prywatności/RODO i 🥛 🙂
@include komunikaty_supplement
!
!
! Komunikaty dot. 🍪, polityki prywatności/RODO i 🥛 🙂 - specjalne instrukcje
!#if !cap_html_filtering
@include komunikaty_bez_html
@include komunikaty_bez_html_dodatkowe_specjalne_instrukcje
!#endif
!#if cap_html_filtering
@include komunikaty_html
!#endif
!#if !cap_user_stylesheet
@include komunikaty_bez_styli_uzytkownika
!#endif
!#if !env_mobile
@include komunikaty_niemobilne
!#endif
!#if !ext_ublock
@include komunikaty_AdGuard
!#endif
