@versionFormat Year.Month.Day.TodayNumberOfCommits
@CIusername mega-ace[bot]
@CIemail 181277770+mega-ace[bot]@users.noreply.github.com
@timeLang pl_PL
@tz Poland
@commitDesc \nCo-authored-by: krystian3w <35370833+krystian3w@users.noreply.github.com>
@updateListIfAnotherListUpdated adblock_social_filters/adblock_social_list.txt adblock_social_filters/social_filters_uB_AG.txt
@updateListIfAnotherListUpdated cookies_filters/adblock_cookies.txt cookies_filters/cookies_uB_AG.txt
