name: "Aktualizacja listy"

on: workflow_dispatch

jobs:
  Aktualizacja:
    runs-on: ubuntu-latest
    container: ghcr.io/filtersheroes/sflb_image:3.0.9
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          ./scripts/build.py
